@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* custom-styles.css */

.custom-link {
  display: inline-flex;
  align-items: center;
  position: relative;
  color: #000;
  width: 100%;
}

.custom-link::before,
.custom-link::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #dcdcdc;
  vertical-align: middle;
}

.custom-link::before {
  margin-right: 1.2em;
}

.custom-link::after {
  margin-left: 0.2em;
}
